*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: #466a95a4;
}

header{
    position: sticky;
    display: grid;
    justify-content: center;
    background-color: #466a95;
}

#picture-of-me img {
    border-radius: 20%;
    border: solid white 2px;
    height: 300px;
    width: 300px;
}

h1, h2{
    text-align: center;
    color: rgb(206, 118, 36)
}

h3 {
    text-align: center;
    color: goldenrod;
    text-decoration: underline;
    text-transform: capitalize;
    font-size: 24px;
}

p{
    text-align: center;
}

figure{
    align-items: center;
    text-align: center;
}

.quality li{
    color: red;
}

.hobby li{
    color: green;
}

.resize-image{
    height: 200px;
    border-radius: 10%;
    border: solid white 2px;
}

.text-under-pics{
    color: white;
}

.text-under-pics:hover{
    color: black;
}

.button {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #954677;
    color: rgba(0, 253, 253, 0.658);
    display: flex;
    justify-content: center;
    border: 2px solid white;
}

.button:hover{
    background-color: rgba(0, 253, 253, 0.658);
    color: #954677;
    border: 2px solid #954677;
}

.link-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hobby-section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.qualities-section{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr;
}

.contact-section-omega{
    display: flex;
    justify-content: center;
}

.contact-section-delta{
    display: flex;
    justify-content: center;
}